<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DLIE2 Early Acess</title>
    <link href="./static/style.css">
    <script src="./static/variables.js"></script>
    <script src="./static/framework/numberFramework.js"></script>
    <script src="./static/visuals.js"></script>
    <script src="./static/database.js"></script>
    <script src="./static/api/signup.js"></script>
    <script src="./static/api/login.js"></script>
    <script src="./static/hasher.js"></script>
    <script src="./static/api/loadposts.js"></script>
    <script src="./static/main.js"></script>
    <script src="./static/htmlLoad/menuLoad.js"></script>
    <script src="./static/htmlLoad/forumLoad.js"></script>
    <script src="./static/htmlLoad/gameLoad.js"></script>
</head>
<body>
    <div id="left"></div>
    <div id="right"></div>
    <div id="toolbar">
        <button id="logoutButton">Logout</button>
        <button id="forumButton">Logout</button>
    </div>
    <div id="top"></div>
    <div id="bottom"></div>
    <div id="processUnit">
        <h1>Processing Unit</h1>
        <button id="packageShipmentsButton" style="position: absolute; top: 10px; left: 10px; padding: 5px 10px; cursor: pointer;">Package Shipments</button>
        <p id="processDisplay">0/10 Resources Queued --- 0/10 Shipments Queued</p>
        <div id="listOfMinigames">
            <div id="TicTacToeSelect">Tic Tac Toe</div>
        </div>
    </div>
    <div id="TicTacToePopup" style="display: none;">
        <h2>Tic Tac Toe</h2>
        <button id="closeTicTacToePopup" style="position: absolute; top: 10px; right: 10px;">X</button>
        <table id="TicTacToeBoard" style="border-collapse: collapse; margin: auto;">
            <tr>
                <td class="cell" style="width: 50px; height: 50px; border: 1px solid black; text-align: center; vertical-align: middle;"></td>
                <td class="cell" style="width: 50px; height: 50px; border: 1px solid black; text-align: center; vertical-align: middle;"></td>
                <td class="cell" style="width: 50px; height: 50px; border: 1px solid black; text-align: center; vertical-align: middle;"></td>
            </tr>
            <tr>
                <td class="cell" style="width: 50px; height: 50px; border: 1px solid black; text-align: center; vertical-align: middle;"></td>
                <td class="cell" style="width: 50px; height: 50px; border: 1px solid black; text-align: center; vertical-align: middle;"></td>
                <td class="cell" style="width: 50px; height: 50px; border: 1px solid black; text-align: center; vertical-align: middle;"></td>
            </tr>
            <tr>
                <td class="cell" style="width: 50px; height: 50px; border: 1px solid black; text-align: center; vertical-align: middle;"></td>
                <td class="cell" style="width: 50px; height: 50px; border: 1px solid black; text-align: center; vertical-align: middle;"></td>
                <td class="cell" style="width: 50px; height: 50px; border: 1px solid black; text-align: center; vertical-align: middle;"></td>
            </tr>
        </table>
    </div>
    <div id="ShippingStation" style="position: absolute; bottom: 10px; left: 10px; width: 200px; padding: 10px; border: 2px solid black; background-color: #f9f9f9; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
        <h3 style="margin: 0; text-align: center;">Shipping Station</h3>
        <p id="shipmentsCounter" style="text-align: center; margin: 10px 0;">Shipments Loaded: 0/5</p>
        <button id="exportShipmentButton" style="display: block; margin: 0 auto; padding: 5px 10px; cursor: pointer;">Export Shipment</button>
    </div>
    <h1>This is a test logged in page</h1>
    <p>Username: ${data.username}</p>
    <p>Password: ${data.password}</p>
    <p>Random vars to test</p>
    <button data-room-id=2 id="clickButton"> Send to Processing Unit </button>
    <h1 data-room-id=2 id="points"> You have XYZ Points </h1>
    <h2 id="TitleCard">Harvest Resources</h2>
    <div data-room-id=2 class="circle" id="clickableCircle">
        <div class="fill"></div>
        <p id="number">0/10
    </div>
    </div>
</body>
</html>