<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DLIE2 Early Acess</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/variables.js"></script>
    <script src="../static/database.js"></script>
    <script src="../static/framework/numberFramework.js"></script>
    <script src="../static/visuals.js"></script>
    <script src="../static/main.js"></script>
</head>
<body>
    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>
    <h1>This is a test logged in page</h1>
    <p>Username: ${data.username}</p>
    <p>Password: ${data.password}</p>
    <p>Random vars to test</p>
    <button data-room-id=2 id="clickButton"> Send to Processing Unit </button>
    <h1 data-room-id=2 id="points"> You have XYZ Points </h1>
    <h2 id="TitleCard">Harvest Resources</h2>
    <div data-room-id=2 class="circle" id="clickableCircle">
        <div class="fill"></div>
        <p id="number">0/10</div>
    </div>
</body>
</html>
