<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Value</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Dilyan Lopez Exponential</h1>
    <hr>
    <button id="signUp">Sign Up</button>
    <button id="login">Login</button>
    <div id="value-container">Loading...</div>
    <button id="clickButton"> Click Here </button>
    <div class="circle">
        <div class="fill"></div>
    </div>
    <h1 id="points"> You have XYZ Points </h1>
    <script type="text/javascript" src="./static/framework/numberFramework.js"></script>
    <script type="text/javascript" src="./static/main.js"></script>
    <script type="text/javascript" src="./static/visuals.js"></script>
    <script type="text/javascript" src="./static/variables.js"></script>
</body>
</html>
