<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Value</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Dilyan Lopez Exponential</h1>
    <hr>
    <button data-room-id=0 id="signUp"> Sign Up</button>
    <button data-room-id=0 id="login">Login</button>
    <div data-room-id=0 id="value-container">Loading...</div>
    <button data-room-id=2 id="clickButton"> Click Here </button>
    <div data-room-id=2 class="circle">
        <div class="fill"></div>
    </div>
    <h1 data-room-id=2 id="points"> You have XYZ Points </h1>
    <h1 style="float:left" id="version" >login 1.1 </h1>
    <script type="text/javascript" src="./static/variables.js"></script>
    <script type="text/javascript" src="./static/framework/numberFramework.js"></script>
    <script type="text/javascript" src="./static/main.js"></script>
    <script type="text/javascript" src="./static/visuals.js"></script>
   
</body>
</html>
