<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Value</title>
    <link rel="stylesheet" href="./style.css">
    <script src="./static/variables.js"></script>
    <script src="./static/database.js"></script>
    <script src="./static/framework/numberFramework.js"></script>
    <script src="./static/visuals.js"></script>
    <script src="./static/main.js"></script>
</head>
<body>
    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>
    <h1>Dilyan Lopez Exponential</h1>
    <hr>
    <button data-room-id=0 id="signUp"> Sign Up</button>
    <button data-room-id=0 id="login">Login</button>
    <div data-room-id=0 id="value-container">Loading...</div>
    <p>Kai: the rooms are now separate html files that you can edit. deal with it B)</p>
    <h1 id="version">(0.)3.0 rise and grind king (i hope this goes over your current commit) stuff to stuff stuff a little bit different now we'll see now more formatting done to hopefully start making what im envisioning more testing also im too lazy to delete anything and its kinda funnyi think i have no idea im crashing out console.log let chat gbt cook. it has begun </h1>
</body>
</html>
