<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Value</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/variables.js"></script>
    <script src="../static/framework/numberFramework.js"></script>
    <script src="../static/visuals.js"></script>
    <script src="../static/main.js"></script>
    <script src="../static/database.js"></script>
</head>
<body>
    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>
    <h1>Dilyan Lopez Exponential</h1>
    <hr>
    <button data-room-id=0 id="signUp"> Sign Up</button>
    <button data-room-id=0 id="login">Login</button>
    <div data-room-id=0 id="value-container">Loading...</div>
    <h1 id="version">(0.)5.5 Kai Lunden. If this is ever to happen again, I fear this repository may become 1 contributor lighter. Mark my words. </h1>
    <h2>Credits(in order of contribution): Github Copilot, ChatGBT, Google Gemini 2, Ryker, Via, Jaime, the other guy</h2>
</body>
</html>
