<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Value</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>
    <h1>Dilyan Lopez Exponential</h1>
    <hr>
    <button data-room-id=0 id="signUp"> Sign Up</button>
    <button data-room-id=0 id="login">Login</button>
    <div data-room-id=0 id="value-container">Loading...</div>
    <div data-room-id=2 class="circle">
        <div class="fill"></div>
    </div>
    <p>Kai: the rooms are now separate html files that you can edit. deal with it B)</p>
    <h1 id="version">(0.)1.7.1 - now with a back button on signup </h1>
    <script type="text/javascript" src="./static/database.js"></script>
    <script type="text/javascript" src="./static/variables.js"></script>
    <script type="text/javascript" src="./static/framework/numberFramework.js"></script>
    <script type="text/javascript" src="./static/main.js"></script>
    <script type="text/javascript" src="./static/visuals.js"></script>
</body>
</html>
